.row-fluid
  #subscriptions.span3
    .sidebar-nav
      %ul.nav-list.nav
        %li.active <a href="#"><i class="icon-home"></i> All items</a>
        %li <a href="#"><i class="icon-star"></i> Starred items</a>
        %li.divider

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#"><i class="icon-rss"></i> Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

  #viewer.span9
    %h4.title All items

    #items.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => '#one', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
            Click to collapse
        #one.accordion-body.collapse
          .accordion-inner
            Some test text.

      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => '#two', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
            Click to collapse
        #two.accordion-body.collapse
          .accordion-inner
            Some test text.

      .accordion-group
        .accordion-heading
          %a.accordion-toggle{:href => '#three', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
            Click to collapse
        #three.accordion-body.collapse
          .accordion-inner
            Some test text.

