-#.row-fluid
.row-fluid
  #subscriptions.span3
    .sidebar-nav
      %ul.nav-list.nav
        %li.active <a href="#"><i class="icon-home"></i> All items</a>
        %li <a href="#"><i class="icon-star"></i> Starred items</a>
        %li.divider

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

  #viewer.span13
    %h4.title All items

    #items.accordion
      .accordion-group
        .accordion-heading.accordion-toggle{:href => '#entry-1', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
          .row-fluid
            .span4
              .entry-star <i class="icon-star-empty"></i>
              .entry-feed-name Nature Chemistry
            .span9.entry-main
              .entry-title
                Competition between model protocells driven by an encapsulated catalyst
              .entry-snippet
                &mdash; Darwinian evolution involves competition between members of a population. Here, the synthesis...
            .span3.entry-date
              May 18, 2013
        #entry-1.accordion-body.collapse
          .accordion-inner
            Some test text.

      .accordion-group
        .accordion-heading.accordion-toggle{:href => '#entry-2', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
          .row-fluid
            .span4
              .entry-star <i class="icon-star-empty"></i>
              .entry-feed-name Nature Chemistry
            .span9.entry-main
              .entry-title
                Competition between model protocells driven by an encapsulated catalyst
              .entry-snippet
                &mdash; Darwinian evolution involves competition between members of a population. Here, the synthesis...
            .span3.entry-date
              May 18, 2013
        #entry-2.accordion-body.collapse
          .accordion-inner
            Some test text.


