-#.row-fluid
.row-fluid
  #subscriptions.span3
    .sidebar-nav
      %ul.nav-list.nav
        %li.active <a href="#"><i class="icon-home"></i> All items</a>
        %li <a href="#"><i class="icon-star"></i> Starred items</a>
        %li.divider

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

      %ul.nav-list.nav
        %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
      %ul.nav-list.nav.collapse.in
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>
        %li <a href="#">Link</a>

  #viewer.span13
    %h4.title All items

    #items.accordion
      .accordion-group
        .accordion-heading.accordion-toggle{:href => '#entry-1', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
          .row-fluid
            .span4
              .entry-star <i class="icon-star-empty"></i>
              .entry-feed-name Nature Chemistry
            .span9.entry-main
              .entry-title
                Competition between model protocells driven by an encapsulated catalyst
              .entry-snippet
                &mdash; Darwinian evolution involves competition between members of a population. Here, the synthesis...
            .span3.entry-date
              May 18, 2013
        #entry-1.accordion-body.collapse.in
          .accordion-inner.span13
            %h3.entry-title <a class="entry-title-link" target="_blank" href="">Defective twin boundaries in nanotwinned metals</a>
            .entry-author by Alex V. Hamza
            .entry-body
              <div><p>Nature Materials.  
              <a href="http://dx.doi.org/10.1038/nmat3646" target="_blank">doi:10.1038/nmat3646</a>
              </p>
              <p>Authors: Y. Morris Wang, Frederic Sansoz, Thomas LaGrange, Ryan T. Ott, Jaime Marian, Troy W. Barbee &amp; Alex V. Hamza</p>
              <p>Coherent twin boundaries (CTBs) are widely described, both theoretically and experimentally, as perfect interfaces that play a significant role in a variety of materials. Although the ability of CTBs in strengthening, maintaining the ductility and minimizing the electron scattering is well documented, most of our understanding of the origin of these properties relies on perfect-interface assumptions. Here we report experiments and simulations demonstrating that as-grown CTBs in nanotwinned copper are inherently defective with kink-like steps and curvature, and that these imperfections consist of incoherent segments and partial dislocations. We further show that these defects play a crucial role in the deformation mechanisms and mechanical behaviour of nanotwinned copper. Our findings offer a view of the structure of CTBs that is largely different from that in the literature, and underscore the significance of imperfections in nanotwin-strengthened materials.</p>
              <img src="http://feeds.feedburner.com/~r/nmat/rss/aop/~4/HsllyOqgElo" height="1" width="1"></div>

      .accordion-group
        .accordion-heading.accordion-toggle{:href => '#entry-2', :'data-toggle' => 'collapse', :'data-parent' => '#items'}
          .row-fluid
            .span4
              .entry-star <i class="icon-star-empty"></i>
              .entry-feed-name Nature Chemistry
            .span9.entry-main
              .entry-title
                Competition between model protocells driven by an encapsulated catalyst
              .entry-snippet
                &mdash; Darwinian evolution involves competition between members of a population. Here, the synthesis...
            .span3.entry-date
              May 18, 2013
        #entry-2.accordion-body.collapse
          .accordion-inner
            Some test text.


