-title "GREAD island, lol", false

#banner
  %h1 <strong>GREAD</strong> is a <em>good feed reader</em>...
  -#%p snippet is a simple way of keeping your notes organized on the web

  #screenshot
    = image_tag 'screenshot_w800.png'

  #actions
    %a.btn.btn-large.btn-primary{:href => new_user_registration_path} Sign up now in one step!
    %a.btn.btn-large{:href => new_user_session_path} Login to existing account &rarr;
