$gridColumns: 16
$baseFontSize: 12px
$baseLineHeight: 18px
@import bootstrap
@import compass/css3
//For sticky footer:
@import compass/layout

//NOTE: If sole icons in buttons don't seem like they have the right padding,
//make sure doctype of html5 is set. That'll fix the problem.
//See: https://github.com/twitter/bootstrap/issues/1962

#header
  .brand
    font-weight: bold
  .navbar-inner
    //Remove box shadow set by bootstrap
    +single-box-shadow(transparent)
    .input-append
      //Remove the margin set by appending search button to search box
      margin-bottom: 0

//Make footer stick to bottom of page for short pages. Make sure this comes
//*before* the actual footer definition so that we can override it.
@include sticky-footer(2em, "#root", "#root-footer", "#footer")
#footer
  background: #eee
  //Need to set bottom padding to zero to not cause scrollbar to show up. Well, 
  //set it to 1px to fill that small gap that appears.
  padding: 0.5em 1em 1px 1em
  text-align: center
  font-size: 0.8em
  color: #999
  a
    color: #555

#controls
  margin-bottom: 0.5em
  .navbar-inner
    background-image: none
    background-color: transparent
    //Remove box shadow set by bootstrap
    +single-box-shadow(transparent)
  #btn-refresh
    width: 45px

#subscriptions
  .nav-header
    padding-left: 0
    cursor: pointer

#viewer
  .title
    margin-top: 0
#items
  border-top: 1px solid #e5e5e5
  .accordion-group
    margin-bottom: 0
    border: 0
    +border-radius(0)
    border-bottom: 1px solid #e5e5e5
    .accordion-heading
      line-height: 1
    .active
      background-color: #ebebeb

  .row-fluid [class*="span"]
    min-height: 0
    max-height: 1em

  .accordion-toggle
    padding: 8px 15px
    padding-left: 4px 
  .entry-star
    float: left
    margin-right: 10px
    font-size: 14px
    margin-top: -1px
  .entry-main
    //See: http://quirksmode.org/css/user-interface/textoverflow.html
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    .entry-title
      font-weight: bold
      display: inline
    .entry-snippet
      display: inline
  .entry-date
    text-align: right

  .accordion-body
    border-left: 1px solid #ebebeb
    border-right: 1px solid #ebebeb
    .accordion-inner
      padding-top: 0
    .entry-title
      margin-top: 5px
      margin-bottom: 0px 
      line-height: 1.20
    .entry-author
      color: #666
    .entry-body
      margin-top: 1em

    .entry-actions
      padding-left: 4px
      margin-left: 0
      //border-top: 1px solid #eee
      background-color: #ebebeb
      padding-top: 5px
      .entry-star
        display: inline
        font-size: 14px
        margin-right: 10px
      .keep-unread
        display: inline
        margin-right: 10px
        input[type=checkbox]
          margin-top: -2px
      .share-buttons
        display: inline
        margin-right: 10px
        i 
          font-size: 14px
          padding-left: 0.5em
      .edit-tags
        display: inline

