-# Using nested layouts:
-# http://guides.rubyonrails.org/layouts_and_rendering.html#using-nested-layouts

- content_for :after_navbar do
  #controls.navbar.navbar-static-top
    .navbar-inner
      .row-fluid
        .span3
          %a.btn.btn-primary{:href => '#'} Subscribe
        .span13
          .btn-group
            %a#btn-refresh.btn{:href => '#'} <i class="icon-refresh"></i>
          .btn-group
            %a.btn.btn-markall{:href => '#'} Mark all as read
            %a.btn.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'} 
              %span.caret 
            %ul.dropdown-menu
              %li <a href="#">All items</a>
              %li <a href="#">Items older than a day</a>
              %li <a href="#">Items older than a week</a>
              %li <a href="#">Items older than two weeks</a>
          .btn-group
            %a.btn.dropdown-toggle{:href => '#', :'data-toggle' => 'dropdown'} 
              View settings...
              %span.caret 
            %ul.dropdown-menu
              %li <a href="#">Sort by newest</a>
              %li <a href="#">Sort by oldest</a>
              %li <a href="#">Sort by magic</a>
              %li.divider
              %li <a href="#">View details and statistics</a>

          .pull-right
            .btn-group{:'data-toggle' => 'buttons-radio'} 
              %button.btn{:href => '#'} <i class="icon-th-list"></i>
              %button.btn.active{:href => '#'} <i class="icon-list"></i>
            .btn-group
              %button.btn{:href => '#'} <i class="icon-angle-up"></i>
              %button.btn{:href => '#'} <i class="icon-angle-down"></i>
            .btn-group
              %a.btn{:href => settings_path} <i class="icon-cog"></i>

- content_for :content do
  -#.row-fluid
  .row-fluid
    #subscriptions.span3
      .sidebar-nav
        %ul.nav-list.nav
          %li.active <a href="#{root_path}"><i class="icon-home"></i> All items</a>
          %li <a href="#"><i class="icon-star"></i> Starred items</a>
          %li.divider
  
        %ul.nav-list.nav
          %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
        %ul.nav-list.nav.collapse.in
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
  
        %ul.nav-list.nav
          %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
        %ul.nav-list.nav.collapse.in
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
  
        %ul.nav-list.nav
          %li.nav-header{:'data-toggle' => 'collapse-next'} <i class="icon-folder-close"></i>Sidebar
        %ul.nav-list.nav.collapse.in
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
          %li <a href="#">Link</a>
    
    -# To the right of the left sidebar
    #viewer.span13
      = yield

= render :template => 'layouts/application'
